h2 { text-align: center;
    color: green;
}

td, th {
    border: 1px solid black;
    padding: 10px 10px;
}

span {
    color: red;
}

.user {
    display: flex;
   justify-content: center;
    
}
section{
    text-align: center;
}
main a,
section a{
    border: 1px solid white;
    color: black;
    padding: 5px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 0.8s;
}
main a:hover,
section a:hover{
    border: 1px solid black;
    background-color: black;
    color: white;
}

article{
    text-align: center;
    
}
article h1{
    font-size: 30px;
    color: green;
}